<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="./style.css")
    title JS Rocks
body
    .site-wrap
        .chat-list
            ul
        .chat-form
            input(type="text" placeholder="Message")
    
    script(src="/socket.io/socket.io.js")
    script(src="/application.js")